<div class="header-toolbar">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="header-logo" src="./assets/mountain-logo.png"/>
    <span class="header-title">CSN STORE</span>
    <div class="cart-button">
      <mat-icon>shopping_cart</mat-icon>
    </div>
    <div class="login-button">
      <mat-icon>person</mat-icon>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
  <div class="menu-button">
    <mat-icon>menu</mat-icon>
  </div>
  <div class="home-button">
    <mat-icon>home</mat-icon>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>

<hr>


